<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Variant</title>
</head>

<body>
	<h3>Variant List</h3>
	<button onclick="window.location.href='/variant/addform'">Tambah Data (+)</button>
	<table border="1">
		<thead>
			<tr>
				<th>Variant Code</th>
				<th>Category Name</th>				
				<th>Variant Name</th>				
				<th colspan="2">Action</th>				
			</tr>
		</thead>
		<tbody>
			<tr th:each="item:${ listvariant }">
				<td th:text="${ item.variantCode }"></td>
				<td th:text="${ item.category.categoryName }"></td>
				<td th:text="${ item.variantName }"></td>
				<td>
					<a th:href="@{/variant/edit/{id} (id=${ item.id })}">Edit</a>
				</td>
				<td>
					<a th:href="@{/variant/delete/{id} (id=${ item.id })}">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>

</body>

</html>