
h1 {
	margin-bottom: 0;

}

h2 {
	margin-bottom: 0;
}

.calculator1 {
	padding: 10px;
	border-radius: 1em;
	height: 410px;
	width: 400px;
	margin: auto;
	background-color: #191b28;
}

.display-number {
	display: flex;
 	justify-content: center;
 	align-items:center;
}

.button-number {
	display: flex;
 	justify-content: center;
 	align-items:center;
}

.display-box {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: large;
	background-color: #EDE7F6;
	height: 70%;
	width: 97.5%;
	border-radius: 0.5em;
}

.button {
	font-family: Arial, 'Helvetica', sans-serif;
	font-size: medium;
	background-color: #64278f;
	color: white;
	border: solid black 0.5px;
	width: 100%;
	border-radius: 5px;
	height: 70%;
	outline: none;
}

.button:active {
	background: rgb(211, 215, 207);
}

