body {
  background-color: powderblue;
}

h1 {
  color: blue;
}

p {
  color: red;
  font-size: 30px;
}

.images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.input_text {
	display: flex;
 	justify-content: center;
 	align-items:center;
}

.button_name {
	text-align: center;
}












